<div class="container" align="center">
	<table class="table">
		<div class= "table-header"><h2>Show Cyborg</h2></div>
	<tr>
		<th>Name:</th>
		<th>Email:</th>
	</tr>
	<tr>
		<td><%= @cyborg.name %></td>
		<td><%= @cyborg.email %></td>
	</tr>
	
	</table>
	<div><%= link_to "Back", cyborgs_path, :class => "btn btn-success" %></div>
</div>