

.btn-s {
  padding: 6px 12px;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.428571429;
  font-weight: normal;
  border-radius: 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-xs-s
{
	color: #0B642F; 
  background-color: #F78C50;
  border-color: #46b8da;
}

.jumbotron-new {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #DCDEEE;
}

.text-clr-new
{
  color: #7A4F21;
}

.panel-clr-new
{

  color: #442169;
  background-color: #34B4B4;
  border-color: #428bca;
}