<section class="container continer-responsive">
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1>Zip File Upload</h1>
				<div align="right"><%= link_to "Add Cyborgs", cyborgs_path, :class => "btn  btn-warning" %></div>
			</div><br>
			<div class="panel">
				    <table class="table">
						<% @uploadzipfiles.each do |uploadzipfile| %>
							<tr>
							<td class="panel-hover"><a href="<%= uploadzipfile_path(uploadzipfile) %>"><%= uploadzipfile.zipfile_identifier.to_s %></a>
							</td>
							</tr>
							<% end %>
					</table>
			</div>
			<div><%= link_to "Upload Zip", new_uploadzipfile_path, :class => "btn btn-primary" %></div>
		</div>
      
</section>